<form method="post" action="{{ path('app_agences_road_delete', {'id': agences_road.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agences_road.id) }}">
    <button class="btn btn-primary mb-2">Delete</button>
</form>
