{% extends 'base.html.twig' %}

{% block title %}New AgencesRoad{% endblock %}

{% block body %}
    <h1>Create new AgencesRoad</h1>

    {{ include('agences_road/_form.html.twig') }}

    <a href="{{ path('app_agences_road_index') }}">back to list</a>
{% endblock %}
